# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
response=requests.get(url=url)
response.status_code

200

In [4]:
soup=BeautifulSoup(response.content)
type(soup)

bs4.BeautifulSoup

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
# <article> search for 'class':'Box-row d-flex'

names = soup.find_all('a', attrs={'class':'Link--secondary', 'data-view-component':'true'})
len(names)

23

In [6]:
names[0].text.strip()

'alex'

In [7]:
name_list=[]
for element in names:
    x=element.text.strip()
    name_list.append(x)


name_list

['alex',
 'onbjerg',
 'lewis6991',
 'DHowett',
 'emilk',
 'JelleZijlstra',
 'fonsp',
 'me-no-dev',
 'josharian',
 'twpayne',
 'jsoref',
 'jonataslaw',
 'emersion',
 'Keno',
 'philippjfr',
 'MaartenGr',
 'arogozhnikov',
 'dpgaspar',
 'quisquous',
 'stephencelis',
 'hrydgard',
 'sethvargo',
 'foolip']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [9]:
response=requests.get(url=url)
response.status_code

200

In [10]:
soup=BeautifulSoup(response.content)

In [11]:
repos=soup.find_all('h1', attrs={'class':'h3 lh-condensed'})
len(repos)

25

In [12]:
x=repos[1].text.strip()
y=x.replace(" ", "")
z=y.replace("\n", "")
z

'pyodide/pyodide'

In [13]:
repos_list=[]

for element in repos:
    x=element.text.strip().replace(" ", "").replace("\n", "")
    repos_list.append(x)

  
repos_list

['lucidrains/DALLE2-pytorch',
 'pyodide/pyodide',
 'donnemartin/system-design-primer',
 'Chia-Network/chia-blockchain',
 'gradio-app/gradio',
 'home-assistant/core',
 'freqtrade/freqtrade',
 'Vonng/ddia',
 'strawberry-graphql/strawberry',
 'ZPdesu/Barbershop',
 'neetcode-gh/leetcode',
 'project-alice-assistant/ProjectAlice',
 'HypothesisWorks/hypothesis',
 'geerlingguy/ansible-for-devops',
 'tensorflow/models',
 'mhamilton723/STEGO',
 'paperless-ngx/paperless-ngx',
 'plamere/spotipy',
 'apache/airflow',
 'yt-dlp/yt-dlp',
 'kubernetes-client/python',
 'openai/DALL-E',
 'lucidrains/vit-pytorch',
 'MatrixTM/MHDDoS',
 'blakeblackshear/frigate']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [14]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [15]:
response=requests.get(url)
soup=BeautifulSoup(response.content)

In [16]:
images=soup.find_all('a', attrs={'class':'image'})

In [17]:
url_list=[]

for element in images:
    url='https://en.wikipedia.org'+ element.get('href')
    url_list.append(url)

url_list

['https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org/wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/File:P_vip.svg',
 'https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org/wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org/wiki/File:Flag_of_the_United_States.svg']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [18]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [19]:
response=requests.get(url)
soup=BeautifulSoup(response.content)

In [20]:
languages=soup.find_all('a', attrs={'class':'link-box'})
len(languages)
x=languages[0].text
x=x.replace('\n', ' ')
x=x.replace('\xa0','')
x

' English 6458000+ articles '

In [21]:
language_article_list=[]
for element in languages:
    x=element.text.replace('\n', ' ').replace('\xa0','')
    language_article_list.append(x)
    
language_article_list

[' English 6458000+ articles ',
 ' Русский 1798000+ статей ',
 ' 日本語 1314000+ 記事 ',
 ' Deutsch 2667000+ Artikel ',
 ' Español 1755000+ artículos ',
 ' Français 2400000+ articles ',
 ' 中文 1256000+ 條目 ',
 ' Italiano 1742000+ voci ',
 ' Português 1085000+ artigos ',
 ' Polski 1512000+ haseł ']

In [22]:
#number_articles=soup.find_all('bdi',attrs={'dir':'ltr'})
#len(number_articles)

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [23]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [24]:
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers')
language_table=table[1]
language_table.head(10)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi[12],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [25]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [26]:
response=requests.get(url=url)
response.status_code

200

In [27]:
soup=BeautifulSoup(response.content)

In [28]:
#tables = soup.find_all('table', attrs={"data-caller-name":"chart-top250movie"})
#tables[0]

In [29]:
#header= tables[0].find_all('th') 
#body= tables[0].find_all('td')

In [30]:
#columns=[element.text for element in header]
#content=[element.text for element in body]

In [31]:
#df_movies=pd.DataFrame([content, columns]).T
#df_movies

# I don't really understand why that approach didn't work

In [32]:
movie_table=soup.find_all('td', attrs={'class':'titleColumn'})
len(movie_table)
movie_table[0].text

'\n      1.\n      Os Condenados de Shawshank\n(1994)\n'

In [33]:
import re

x=movie_table[0].text
x=x.strip().replace("\n", " ")
x=re.sub("\d+\.", "", x)
x=x.strip()
x

'Os Condenados de Shawshank (1994)'

In [34]:
movie_list=list(x)

In [35]:
#now loop what we did above for all element in the movie_table

movie_name_year=[]

for element in movie_table:
    x=element.text
    x=x.strip().replace("\n", " ")
    x=re.sub("\d+\.", "", x)
    x=x.strip()
    movie_name_year.append(x)

In [36]:
x=movie_table[0].a.get('title')
x.split(",")

['Frank Darabont (dir.)', ' Tim Robbins', ' Morgan Freeman']

In [37]:
movie_list2=[]
for element in movie_table:
    x=element.a.get('title')
    x=x.split(",")
    movie_list2.append(x)

In [57]:
#now trying to bring movie_list and movie_list2 info together in a df

df_movies_list=pd.DataFrame(movie_name_year, columns={"Title_Year"})
df_movies_list.head(3)

                          Title_Year
0  Os Condenados de Shawshank (1994)
1                  O Padrinho (1972)
2      O Cavaleiro das Trevas (2008)

In [39]:
movie_list2

[['Frank Darabont (dir.)', ' Tim Robbins', ' Morgan Freeman'],
 ['Francis Ford Coppola (dir.)', ' Marlon Brando', ' Al Pacino'],
 ['Christopher Nolan (dir.)', ' Christian Bale', ' Heath Ledger'],
 ['Francis Ford Coppola (dir.)', ' Al Pacino', ' Robert De Niro'],
 ['Sidney Lumet (dir.)', ' Henry Fonda', ' Lee J. Cobb'],
 ['Steven Spielberg (dir.)', ' Liam Neeson', ' Ralph Fiennes'],
 ['Peter Jackson (dir.)', ' Elijah Wood', ' Viggo Mortensen'],
 ['Quentin Tarantino (dir.)', ' John Travolta', ' Uma Thurman'],
 ['Peter Jackson (dir.)', ' Elijah Wood', ' Ian McKellen'],
 ['Sergio Leone (dir.)', ' Clint Eastwood', ' Eli Wallach'],
 ['Robert Zemeckis (dir.)', ' Tom Hanks', ' Robin Wright'],
 ['David Fincher (dir.)', ' Brad Pitt', ' Edward Norton'],
 ['Christopher Nolan (dir.)', ' Leonardo DiCaprio', ' Joseph Gordon-Levitt'],
 ['Peter Jackson (dir.)', ' Elijah Wood', ' Ian McKellen'],
 ['Irvin Kershner (dir.)', ' Mark Hamill', ' Harrison Ford'],
 ['Lana Wachowski (dir.)', ' Keanu Reeves', ' Laurence Fishburne'],
 ['Martin Scorsese (dir.)', ' Robert De Niro', ' Ray Liotta'],
 ['Milos Forman (dir.)', ' Jack Nicholson', ' Louise Fletcher'],
 ['David Fincher (dir.)', ' Morgan Freeman', ' Brad Pitt'],
 ['Akira Kurosawa (dir.)', ' Toshirô Mifune', ' Takashi Shimura'],
 ['Frank Capra (dir.)', ' James Stewart', ' Donna Reed'],
 ['Jonathan Demme (dir.)', ' Jodie Foster', ' Anthony Hopkins'],
 ['Fernando Meirelles (dir.)', ' Alexandre Rodrigues', ' Leandro Firmino'],
 ['Steven Spielberg (dir.)', ' Tom Hanks', ' Matt Damon'],
 ['Roberto Benigni (dir.)', ' Roberto Benigni', ' Nicoletta Braschi'],
 ['Frank Darabont (dir.)', ' Tom Hanks', ' Michael Clarke Duncan'],
 ['George Lucas (dir.)', ' Mark Hamill', ' Harrison Ford'],
 ['Christopher Nolan (dir.)', ' Matthew McConaughey', ' Anne Hathaway'],
 ['James Cameron (dir.)', ' Arnold Schwarzenegger', ' Linda Hamilton'],
 ['Robert Zemeckis (dir.)', ' Michael J. Fox', ' Christopher Lloyd'],
 ['Hayao Miyazaki (dir.)', ' Daveigh Chase', ' Suzanne Pleshette'],
 ['Alfred Hitchcock (dir.)', ' Anthony Perkins', ' Janet Leigh'],
 ['Roman Polanski (dir.)', ' Adrien Brody', ' Thomas Kretschmann'],
 ['Luc Besson (dir.)', ' Jean Reno', ' Gary Oldman'],
 ['Bong Joon Ho (dir.)', ' Kang-ho Song', ' Sun-kyun Lee'],
 ['Roger Allers (dir.)', ' Matthew Broderick', ' Jeremy Irons'],
 ['Tony Kaye (dir.)', ' Edward Norton', ' Edward Furlong'],
 ['Ridley Scott (dir.)', ' Russell Crowe', ' Joaquin Phoenix'],
 ['Bryan Singer (dir.)', ' Kevin Spacey', ' Gabriel Byrne'],
 ['Martin Scorsese (dir.)', ' Leonardo DiCaprio', ' Matt Damon'],
 ['Christopher Nolan (dir.)', ' Christian Bale', ' Hugh Jackman'],
 ['Michael Curtiz (dir.)', ' Humphrey Bogart', ' Ingrid Bergman'],
 ['Damien Chazelle (dir.)', ' Miles Teller', ' J.K. Simmons'],
 ['Olivier Nakache (dir.)', ' François Cluzet', ' Omar Sy'],
 ['Charles Chaplin (dir.)', ' Charles Chaplin', ' Paulette Goddard'],
 ['Masaki Kobayashi (dir.)', ' Tatsuya Nakadai', ' Akira Ishihama'],
 ['Sergio Leone (dir.)', ' Henry Fonda', ' Charles Bronson'],
 ['Isao Takahata (dir.)', ' Tsutomu Tatsumi', ' Ayano Shiraishi'],
 ['Alfred Hitchcock (dir.)', ' James Stewart', ' Grace Kelly'],
 ['Ridley Scott (dir.)', ' Sigourney Weaver', ' Tom Skerritt'],
 ['Charles Chaplin (dir.)', ' Charles Chaplin', ' Virginia Cherrill'],
 ['Giuseppe Tornatore (dir.)', ' Philippe Noiret', ' Enzo Cannavale'],
 ['Christopher Nolan (dir.)', ' Guy Pearce', ' Carrie-Anne Moss'],
 ['Francis Ford Coppola (dir.)', ' Martin Sheen', ' Marlon Brando'],
 ['Dan Kwan (dir.)', ' Michelle Yeoh', ' Stephanie Hsu'],
 ['Steven Spielberg (dir.)', ' Harrison Ford', ' Karen Allen'],
 ['Quentin Tarantino (dir.)', ' Jamie Foxx', ' Christoph Waltz'],
 ['Andrew Stanton (dir.)', ' Ben Burtt', ' Elissa Knight'],
 ['Florian Henckel von Donnersmarck (dir.)',
  ' Ulrich Mühe',
  ' Martina Gedeck'],
 ['Billy Wilder (dir.)', ' William Holden', ' Gloria Swanson'],
 ['Stanley Kubrick (dir.)', ' Kirk Douglas', ' Ralph Meeker'],
 ['Stanley Kubrick (dir.)', ' Jack Nicholson', ' Shelley Duvall'],
 ['Charles Chaplin (dir.)', ' Charles Chaplin', ' Paulette Goddard'],
 ['Billy Wilder (dir.)', ' Tyrone Power', ' Marlene Dietrich'],
 ['Anthony Russo (dir.)', ' Robert Downey Jr.', ' Chris Hemsworth'],
 ['James Cameron (dir.)', ' Sigourney Weaver', ' Michael Biehn'],
 ['Sam Mendes (dir.)', ' Kevin Spacey', ' Annette Bening'],
 ['Stanley Kubrick (dir.)', ' Peter Sellers', ' George C. Scott'],
 ['Christopher Nolan (dir.)', ' Christian Bale', ' Tom Hardy'],
 ['Bob Persichetti (dir.)', ' Shameik Moore', ' Jake Johnson'],
 ['Todd Phillips (dir.)', ' Joaquin Phoenix', ' Robert De Niro'],
 ['Park Chan-wook (dir.)', ' Choi Min-sik', ' Yoo Ji-Tae'],
 ['Mel Gibson (dir.)', ' Mel Gibson', ' Sophie Marceau'],
 ['Milos Forman (dir.)', ' F. Murray Abraham', ' Tom Hulce'],
 ['John Lasseter (dir.)', ' Tom Hanks', ' Tim Allen'],
 ['Wolfgang Petersen (dir.)', ' Jürgen Prochnow', ' Herbert Grönemeyer'],
 ['Lee Unkrich (dir.)', ' Anthony Gonzalez', ' Gael García Bernal'],
 ['Quentin Tarantino (dir.)', ' Brad Pitt', ' Diane Kruger'],
 ['Hayao Miyazaki (dir.)', ' Yôji Matsuda', ' Yuriko Ishida'],
 ['Sergio Leone (dir.)', ' Robert De Niro', ' James Woods'],
 ['Anthony Russo (dir.)', ' Robert Downey Jr.', ' Chris Evans'],
 ['Gus Van Sant (dir.)', ' Robin Williams', ' Matt Damon'],
 ['Darren Aronofsky (dir.)', ' Ellen Burstyn', ' Jared Leto'],
 ['Lee Unkrich (dir.)', ' Tom Hanks', ' Tim Allen'],
 ['Stanley Donen (dir.)', ' Gene Kelly', " Donald O'Connor"],
 ['Makoto Shinkai (dir.)', ' Ryûnosuke Kamiki', ' Mone Kamishiraishi'],
 ['Richard Marquand (dir.)', ' Mark Hamill', ' Harrison Ford'],
 ['Rajkumar Hirani (dir.)', ' Aamir Khan', ' Madhavan'],
 ['Stanley Kubrick (dir.)', ' Keir Dullea', ' Gary Lockwood'],
 ['Quentin Tarantino (dir.)', ' Harvey Keitel', ' Tim Roth'],
 ['Michel Gondry (dir.)', ' Jim Carrey', ' Kate Winslet'],
 ['Akira Kurosawa (dir.)', ' Toshirô Mifune', ' Yutaka Sada'],
 ['Orson Welles (dir.)', ' Orson Welles', ' Joseph Cotten'],
 ['Nadine Labaki (dir.)', ' Zain Al Rafeea', ' Yordanos Shiferaw'],
 ['David Lean (dir.)', " Peter O'Toole", ' Alec Guinness'],
 ['Fritz Lang (dir.)', ' Peter Lorre', ' Ellen Widmann'],
 ['Thomas Vinterberg (dir.)', ' Mads Mikkelsen', ' Thomas Bo Larsen'],
 ['Alfred Hitchcock (dir.)', ' Cary Grant', ' Eva Marie Saint'],
 ['Jon Watts (dir.)', ' Tom Holland', ' Zendaya'],
 ['Alfred Hitchcock (dir.)', ' James Stewart', ' Kim Novak'],
 ['Jean-Pierre Jeunet (dir.)', ' Audrey Tautou', ' Mathieu Kassovitz'],
 ['Stanley Kubrick (dir.)', ' Malcolm McDowell', ' Patrick Magee'],
 ['Elem Klimov (dir.)', ' Aleksey Kravchenko', ' Olga Mironova'],
 ['Stanley Kubrick (dir.)', ' Matthew Modine', ' R. Lee Ermey'],
 ['Billy Wilder (dir.)', ' Fred MacMurray', ' Barbara Stanwyck'],
 ['Billy Wilder (dir.)', ' Jack Lemmon', ' Shirley MacLaine'],
 ['Brian De Palma (dir.)', ' Al Pacino', ' Michelle Pfeiffer'],
 ['Martin Scorsese (dir.)', ' Robert De Niro', ' Jodie Foster'],
 ['Robert Mulligan (dir.)', ' Gregory Peck', ' John Megna'],
 ['George Roy Hill (dir.)', ' Paul Newman', ' Robert Redford'],
 ['Akira Kurosawa (dir.)', ' Takashi Shimura', ' Nobuo Kaneko'],
 ['Thomas Kail (dir.)', ' Lin-Manuel Miranda', ' Phillipa Soo'],
 ['Curtis Hanson (dir.)', ' Kevin Spacey', ' Russell Crowe'],
 ['Pete Docter (dir.)', ' Edward Asner', ' Jordan Nagai'],
 ['Michael Mann (dir.)', ' Al Pacino', ' Robert De Niro'],
 ['Fritz Lang (dir.)', ' Brigitte Helm', ' Alfred Abel'],
 ['Guy Ritchie (dir.)', ' Jason Statham', ' Brad Pitt'],
 ['Asghar Farhadi (dir.)', ' Payman Maadi', ' Leila Hatami'],
 ['John McTiernan (dir.)', ' Bruce Willis', ' Alan Rickman'],
 ['Denis Villeneuve (dir.)', ' Lubna Azabal', ' Mélissa Désormeaux-Poulin'],
 ['Steven Spielberg (dir.)', ' Harrison Ford', ' Sean Connery'],
 ['Vittorio De Sica (dir.)', ' Lamberto Maggiorani', ' Enzo Staiola'],
 ['Sam Mendes (dir.)', ' Dean-Charles Chapman', ' George MacKay'],
 ['Aamir Khan (dir.)', ' Darsheel Safary', ' Aamir Khan'],
 ['Oliver Hirschbiegel (dir.)', ' Bruno Ganz', ' Alexandra Maria Lara'],
 ['Sergio Leone (dir.)', ' Clint Eastwood', ' Lee Van Cleef'],
 ['Christopher Nolan (dir.)', ' Christian Bale', ' Michael Caine'],
 ['Nitesh Tiwari (dir.)', ' Aamir Khan', ' Sakshi Tanwar'],
 ['Charles Chaplin (dir.)', ' Charles Chaplin', ' Edna Purviance'],
 ['Billy Wilder (dir.)', ' Marilyn Monroe', ' Tony Curtis'],
 ['Florian Zeller (dir.)', ' Anthony Hopkins', ' Olivia Colman'],
 ['Joseph L. Mankiewicz (dir.)', ' Bette Davis', ' Anne Baxter'],
 ['Peter Farrelly (dir.)', ' Viggo Mortensen', ' Mahershala Ali'],
 ['Martin Scorsese (dir.)', ' Leonardo DiCaprio', ' Jonah Hill'],
 ['Stanley Kramer (dir.)', ' Spencer Tracy', ' Burt Lancaster'],
 ['Clint Eastwood (dir.)', ' Clint Eastwood', ' Gene Hackman'],
 ['Guillermo del Toro (dir.)', ' Ivana Baquero', ' Ariadna Gil'],
 ['Martin Scorsese (dir.)', ' Robert De Niro', ' Sharon Stone'],
 ['Akira Kurosawa (dir.)', ' Tatsuya Nakadai', ' Akira Terao'],
 ['Paul Thomas Anderson (dir.)', ' Daniel Day-Lewis', ' Paul Dano'],
 ['Terry Gilliam (dir.)', ' Graham Chapman', ' John Cleese'],
 ['Ron Howard (dir.)', ' Russell Crowe', ' Ed Harris'],
 ['M. Night Shyamalan (dir.)', ' Bruce Willis', ' Haley Joel Osment'],
 ['Peter Weir (dir.)', ' Jim Carrey', ' Ed Harris'],
 ['Akira Kurosawa (dir.)', ' Toshirô Mifune', ' Eijirô Tôno'],
 ['John Huston (dir.)', ' Humphrey Bogart', ' Walter Huston'],
 ['Akira Kurosawa (dir.)', ' Toshirô Mifune', ' Machiko Kyô'],
 ['John Sturges (dir.)', ' Steve McQueen', ' James Garner'],
 ['Martin Scorsese (dir.)', ' Leonardo DiCaprio', ' Emily Mortimer'],
 ['Quentin Tarantino (dir.)', ' Uma Thurman', ' David Carradine'],
 ['Steven Spielberg (dir.)', ' Sam Neill', ' Laura Dern'],
 ['Ethan Coen (dir.)', ' Tommy Lee Jones', ' Javier Bardem'],
 ['David Lynch (dir.)', ' Anthony Hopkins', ' John Hurt'],
 ['Andrew Stanton (dir.)', ' Albert Brooks', ' Ellen DeGeneres'],
 ['Martin Scorsese (dir.)', ' Robert De Niro', ' Cathy Moriarty'],
 ['Roman Polanski (dir.)', ' Jack Nicholson', ' Faye Dunaway'],
 ['Victor Fleming (dir.)', ' Clark Gable', ' Vivien Leigh'],
 ['James McTeigue (dir.)', ' Hugo Weaving', ' Natalie Portman'],
 ['Pete Docter (dir.)', ' Amy Poehler', ' Bill Hader'],
 ['Guy Ritchie (dir.)', ' Jason Flemyng', ' Dexter Fletcher'],
 ['John Carpenter (dir.)', ' Kurt Russell', ' Wilford Brimley'],
 ['Alfred Hitchcock (dir.)', ' Ray Milland', ' Grace Kelly'],
 ['Juan José Campanella (dir.)', ' Ricardo Darín', ' Soledad Villamil'],
 ['David Lean (dir.)', ' William Holden', ' Alec Guinness'],
 ['Hayao Miyazaki (dir.)', ' Chieko Baishô', ' Takuya Kimura'],
 ['Danny Boyle (dir.)', ' Ewan McGregor', ' Ewen Bremner'],
 ['Martin McDonagh (dir.)', ' Frances McDormand', ' Woody Harrelson'],
 ['Clint Eastwood (dir.)', ' Clint Eastwood', ' Bee Vang'],
 ["Gavin O'Connor (dir.)", ' Tom Hardy', ' Nick Nolte'],
 ['Joel Coen (dir.)', ' William H. Macy', ' Frances McDormand'],
 ['Hayao Miyazaki (dir.)', ' Hitoshi Takagi', ' Noriko Hidaka'],
 ['Denis Villeneuve (dir.)', ' Hugh Jackman', ' Jake Gyllenhaal'],
 ['Clint Eastwood (dir.)', ' Hilary Swank', ' Clint Eastwood'],
 ['Charles Chaplin (dir.)', ' Charles Chaplin', ' Mack Swain'],
 ['Ridley Scott (dir.)', ' Harrison Ford', ' Rutger Hauer'],
 ['Elia Kazan (dir.)', ' Marlon Brando', ' Karl Malden'],
 ['Steven Spielberg (dir.)', ' Leonardo DiCaprio', ' Tom Hanks'],
 ['Carol Reed (dir.)', ' Orson Welles', ' Joseph Cotten'],
 ['Majid Majidi (dir.)', ' Mohammad Amir Naji', ' Amir Farrokh Hashemian'],
 ['William Wyler (dir.)', ' Charlton Heston', ' Jack Hawkins'],
 ['Clyde Bruckman (dir.)', ' Buster Keaton', ' Marion Mack'],
 ['Steve McQueen (dir.)', ' Chiwetel Ejiofor', ' Michael Kenneth Williams'],
 ['Ingmar Bergman (dir.)', ' Victor Sjöström', ' Bibi Andersson'],
 ['David Fincher (dir.)', ' Ben Affleck', ' Rosamund Pike'],
 ['Michael Cimino (dir.)', ' Robert De Niro', ' Christopher Walken'],
 ['Richard Linklater (dir.)', ' Ethan Hawke', ' Julie Delpy'],
 ['David Yates (dir.)', ' Daniel Radcliffe', ' Emma Watson'],
 ['Jim Sheridan (dir.)', ' Daniel Day-Lewis', ' Pete Postlethwaite'],
 ['Frank Capra (dir.)', ' James Stewart', ' Jean Arthur'],
 ['Wes Anderson (dir.)', ' Ralph Fiennes', ' F. Murray Abraham'],
 ['Henri-Georges Clouzot (dir.)', ' Yves Montand', ' Charles Vanel'],
 ['Buster Keaton (dir.)', ' Buster Keaton', ' Kathryn McGuire'],
 ['Lenny Abrahamson (dir.)', ' Brie Larson', ' Jacob Tremblay'],
 ['Stanley Kubrick (dir.)', " Ryan O'Neal", ' Marisa Berenson'],
 ['Bong Joon Ho (dir.)', ' Kang-ho Song', ' Kim Sang-kyung'],
 ['Ingmar Bergman (dir.)', ' Max von Sydow', ' Gunnar Björnstrand'],
 ['Mel Gibson (dir.)', ' Andrew Garfield', ' Sam Worthington'],
 ['Sergio Pablos (dir.)', ' Jason Schwartzman', ' J.K. Simmons'],
 ['Damián Szifron (dir.)', ' Darío Grandinetti', ' María Marull'],
 ['Joel Coen (dir.)', ' Jeff Bridges', ' John Goodman'],
 ['Dean DeBlois (dir.)', ' Jay Baruchel', ' Gerard Butler'],
 ['George Miller (dir.)', ' Tom Hardy', ' Charlize Theron'],
 ['Adam Elliot (dir.)', ' Toni Collette', ' Philip Seymour Hoffman'],
 ['Satyajit Ray (dir.)', ' Kanu Bannerjee', ' Karuna Bannerjee'],
 ['Steven Spielberg (dir.)', ' Roy Scheider', ' Robert Shaw'],
 ['Pete Docter (dir.)', ' Billy Crystal', ' John Goodman'],
 ['Carl Theodor Dreyer (dir.)', ' Maria Falconetti', ' Eugene Silvain'],
 ['Terry George (dir.)', ' Don Cheadle', ' Sophie Okonedo'],
 ['Yasujirô Ozu (dir.)', ' Chishû Ryû', ' Chieko Higashiyama'],
 ['Peter Weir (dir.)', ' Robin Williams', ' Robert Sean Leonard'],
 ['Oliver Stone (dir.)', ' Charlie Sheen', ' Tom Berenger'],
 ['John G. Avildsen (dir.)', ' Sylvester Stallone', ' Talia Shire'],
 ['James Mangold (dir.)', ' Matt Damon', ' Christian Bale'],
 ['Rob Reiner (dir.)', ' Wil Wheaton', ' River Phoenix'],
 ['James Cameron (dir.)', ' Arnold Schwarzenegger', ' Linda Hamilton'],
 ['Ron Howard (dir.)', ' Daniel Brühl', ' Chris Hemsworth'],
 ['Tom McCarthy (dir.)', ' Mark Ruffalo', ' Michael Keaton'],
 ['Sean Penn (dir.)', ' Emile Hirsch', ' Vince Vaughn'],
 ['Sidney Lumet (dir.)', ' Faye Dunaway', ' William Holden'],
 ['Victor Fleming (dir.)', ' Judy Garland', ' Frank Morgan'],
 ['James Mangold (dir.)', ' Hugh Jackman', ' Patrick Stewart'],
 ['Harold Ramis (dir.)', ' Bill Murray', ' Andie MacDowell'],
 ['Brad Bird (dir.)', ' Brad Garrett', ' Lou Romano'],
 ['William Friedkin (dir.)', ' Ellen Burstyn', ' Max von Sydow'],
 ['Richard Linklater (dir.)', ' Ethan Hawke', ' Julie Delpy'],
 ['William Wyler (dir.)', ' Myrna Loy', ' Dana Andrews'],
 ['Brad Bird (dir.)', ' Craig T. Nelson', ' Samuel L. Jackson'],
 ['Ernst Lubitsch (dir.)', ' Carole Lombard', ' Jack Benny'],
 ['Gillo Pontecorvo (dir.)', ' Brahim Hadjadj', ' Jean Martin'],
 ['Alfred Hitchcock (dir.)', ' Laurence Olivier', ' Joan Fontaine'],
 ['John Ford (dir.)', ' Henry Fonda', ' Jane Darwell'],
 ['Lasse Hallström (dir.)', ' Richard Gere', ' Joan Allen'],
 ['Stuart Rosenberg (dir.)', ' Paul Newman', ' George Kennedy'],
 ['Alejandro G. Iñárritu (dir.)', ' Emilio Echevarría', ' Gael García Bernal'],
 ['Akira Kurosawa (dir.)', ' Maksim Munzuk', ' Yuriy Solomin'],
 ['François Truffaut (dir.)', ' Jean-Pierre Léaud', ' Albert Rémy'],
 ['Cagan Irmak (dir.)', ' Çetin Tekindor', ' Fikret Kuskan'],
 ['Ingmar Bergman (dir.)', ' Bibi Andersson', ' Liv Ullmann'],
 ['Terry Jones (dir.)', ' Graham Chapman', ' John Cleese'],
 ['Gore Verbinski (dir.)', ' Johnny Depp', ' Geoffrey Rush'],
 ['Mathieu Kassovitz (dir.)', ' Vincent Cassel', ' Hubert Koundé'],
 ['Robert Wise (dir.)', ' Julie Andrews', ' Christopher Plummer'],
 ['Frank Capra (dir.)', ' Clark Gable', ' Claudette Colbert'],
 ['Park Chan-wook (dir.)', ' Kim Min-hee', ' Ha Jung-woo'],
 ['Richard Attenborough (dir.)', ' Ben Kingsley', ' John Gielgud'],
 ['Ron Clements (dir.)', ' Scott Weinger', ' Robin Williams'],
 ['Tate Taylor (dir.)', ' Emma Stone', ' Viola Davis'],
 ['Gary Trousdale (dir.)', " Paige O'Hara", ' Robby Benson'],
 ['Jules Dassin (dir.)', ' Jean Servais', ' Carl Möhner'],
 ['Kevin Costner (dir.)', ' Kevin Costner', ' Mary McDonnell']]

In [58]:
df_movie_list2=pd.DataFrame(movie_list2, columns=["Director", "Star1", "Star2"])
df_movie_list2

                        Director            Star1            Star2
0          Frank Darabont (dir.)      Tim Robbins   Morgan Freeman
1    Francis Ford Coppola (dir.)    Marlon Brando        Al Pacino
2       Christopher Nolan (dir.)   Christian Bale     Heath Ledger
3    Francis Ford Coppola (dir.)        Al Pacino   Robert De Niro
4            Sidney Lumet (dir.)      Henry Fonda      Lee J. Cobb
..                           ...              ...              ...
245          Ron Clements (dir.)    Scott Weinger   Robin Williams
246           Tate Taylor (dir.)       Emma Stone      Viola Davis
247        Gary Trousdale (dir.)     Paige O'Hara     Robby Benson
248          Jules Dassin (dir.)     Jean Servais      Carl Möhner
249         Kevin Costner (dir.)    Kevin Costner   Mary McDonnell

[250 rows x 3 columns]

In [59]:
df_movie_list2['Title'] = df_movies_list
df_movie_list2

,Director,Star1,Star2,Title
0,Frank Darabont (dir.),Tim Robbins,Morgan Freeman,Os Condenados de Shawshank (1994)
1,Francis Ford Coppola (dir.),Marlon Brando,Al Pacino,O Padrinho (1972)
2,Christopher Nolan (dir.),Christian Bale,Heath Ledger,O Cavaleiro das Trevas (2008)
3,Francis Ford Coppola (dir.),Al Pacino,Robert De Niro,O Padrinho: Parte II (1974)
4,Sidney Lumet (dir.),Henry Fonda,Lee J. Cobb,Doze Homens em Fúria (1957)
...,...,...,...,...
245,Ron Clements (dir.),Scott Weinger,Robin Williams,Aladdin (1992)
246,Tate Taylor (dir.),Emma Stone,Viola Davis,As Serviçais (2011)
247,Gary Trousdale (dir.),Paige O'Hara,Robby Benson,A Bela e o Monstro (1991)
248,Jules Dassin (dir.),Jean Servais,Carl Möhner,Rififi (1955)
249,Kevin Costner (dir.),Kevin Costner,Mary McDonnell,Danças com Lobos (1990)

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [42]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [43]:
#the link directs me to the same page as webscrapped above...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [44]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [45]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [46]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [47]:
#tag=img or tag h3 get title
#class="thumbnail" --> name
#tag=div
#class-"product price"

response=requests.get(url)
response.status_code

soup=BeautifulSoup(response.content)

In [48]:
name=soup.find_all('img', attrs={"class":"thumbnail"})
name[0].get('alt')

'A Light in the Attic'

In [49]:
price=soup.find_all('p', attrs={'class':'price_color'})
price[0].text

'£51.77'

In [50]:
instock=soup.find_all('p', attrs={'class':'instock availability'})
x=instock[0].text.replace('\n','')
x.strip()

'In stock'

In [51]:
#looping everything and bringing it together :) 

name_list=[]
price_list=[]
instock_list=[]

for element in name:
    x=element.get('alt')
    name_list.append(x)


for element in price:
    x=element.text
    price_list.append(x)


for element in instock: 
    x=element.text.replace('\n','').strip()
    instock_list.append(x)

In [52]:
#zip all lists

zipall = zip(name_list, price_list, instock_list)
data=list(zipall)

book_df=pd.DataFrame(data, columns=['title', 'price', 'availability'])
book_df

                                                title   price availability
0                                A Light in the Attic  £51.77     In stock
1                                  Tipping the Velvet  £53.74     In stock
2                                          Soumission  £50.10     In stock
3                                       Sharp Objects  £47.82     In stock
4               Sapiens: A Brief History of Humankind  £54.23     In stock
5                                     The Requiem Red  £22.65     In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34     In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93     In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60     In stock
9                                     The Black Maria  £52.15     In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99     In stock
11                              Shakespeare's Sonnets  £20.66     In stock
12                                        Set Me Free  £17.46     In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29     In stock
14                          Rip it Up and Start Again  £35.02     In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
16                                               Olio  £23.88     In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
18                       Libertarianism for Beginners  £51.33     In stock
19                            It's Only the Himalayas  £45.17     In stock

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [53]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

['https://www.emsc-csem.org/Earthquake/?view=1',
 'https://www.emsc-csem.org/Earthquake/?view=2',
 'https://www.emsc-csem.org/Earthquake/?view=3',
 'https://www.emsc-csem.org/Earthquake/?view=4',
 'https://www.emsc-csem.org/Earthquake/?view=5']

In [54]:
# your code here